[build]
  publish = "."
  functions = "netlify/functions"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

# CRON Jobs Configuration
[functions]
  node_bundler = "esbuild"

[[functions.schedule]]
  cron = "*/1 * * * *"  # Every minute
  function = "cron-timeSync"

# Environment Variables
[build.environment]
  NODE_VERSION = "18"
  MONGODB_URI = "mongodb+srv://aaqibanwar29_db_user:aaqib29-MongoDB@cluster1.j46h1vl.mongodb.net/?appName=Cluster1"

[context.production.environment]
  MQTT_HOST = "82656346fb9d4e13bd30d32d89e1185d.s1.eu.hivemq.cloud"
  MQTT_PORT = "8883"
  MQTT_USERNAME = "AaqibAnwar29"
  MQTT_PASSWORD = "aaqibanwar29@HiveMQ"
  MONGODB_URI = "mongodb+srv://aaqibanwar29_db_user:aaqib29-MongoDB@cluster1.j46h1vl.mongodb.net/?appName=Cluster1"

[dev]
  publish = "."
  functions = "netlify/functions"
  port = 8888