[build]
  publish = "."
  functions = "netlify/functions"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

# CRON Jobs Configuration
[functions]
  node_bundler = "esbuild"

[functions."cron-timeSync"]
schedule = "*/1 * * * *" # Every minute

# Environment Variables
[build.environment]
  NODE_VERSION = "18"
  MONGODB_URI = "mongodb+srv://bell-system-access:bellsystemaccess-MongoDB@automated-bell-system.mgnbwgu.mongodb.net/?appName=automated-bell-system"

[context.production.environment]
  MQTT_HOST = "82656346fb9d4e13bd30d32d89e1185d.s1.eu.hivemq.cloud"
  MQTT_PORT = "8883"
  MQTT_USERNAME = "AaqibAnwar29"
  MQTT_PASSWORD = "aaqibanwar29@HiveMQ"
  MONGODB_URI = "mongodb+srv://bell-system-access:bellsystemaccess-MongoDB@automated-bell-system.mgnbwgu.mongodb.net/?appName=automated-bell-system"

[dev]
  publish = "."
  functions = "netlify/functions"
  port = 8888